@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../gfx/bg.png);
	background-repeat: repeat-x;
	background-color: #fcfcfc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0;
	padding: 0;
	color: #333;

}
#Container {
	margin: auto;
	width: 960px;
	text-align: left;
}


#Header {
	height: 80px;
}
#Head {
	height: 50px;
	margin: auto;
	width: 960px;
}
#Logo {
	float: left;
	height: 50px;
	width: 320px;
	text-align: left;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
}
#ServerTime {
	float: left;
	height: 50px;
	width: 320px;
	/* [disabled]font-size: 10px; */
	text-transform: uppercase;
	/* [disabled]color: #333; */
	margin: 0px;
	padding: 0px;
	text-align: center;
	/* [disabled]background-color: #CF0; */
	display: inline;
}

#ServerTime .sep {
	margin-top: -2px;
	font-weight: normal;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #537188;
	height: 22px;
	margin-right: 10px;
	margin-left: 10px;
}
#ServerTime ul.login .Time  {
	color: #537188;
	/* [disabled]text-shadow: 0px 1px 1px #fff; */
	text-decoration: none;
	font-family: "Arial Black", Gadget, sans-serif;
	font-style: normal;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 16px;
	/* [disabled]padding-top: 5px; */
	/* [disabled]padding-right: 0px; */
	/* [disabled]padding-bottom: 0px; */
	/* [disabled]padding-left: 0px; */
}

#ServerTime li{
	font-style: italic;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	color: #537188;
}

#ServerTime ul.login {
	width: inherit;
	text-align: center;
	margin-top: 20px;
}

#ServerTime ul.login li {
	text-align: right;
	float: left;
	padding-bottom: 0;
	font-weight: normal;
	/* [disabled]font-style: italic; */
	line-height: 10px;
	text-transform: uppercase;
	/* [disabled]color: #537188; */
}









#ToggleMenu {
	float: left;
	height: 50px;
	width: 320px;
	font-size: 10px;
	/* [disabled]font-style: italic; */
	/* [disabled]background-color: #FF0; */
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#ToggleMenu li{
	/* [disabled]font-style: italic; */
	list-style-type: none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 40px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#ToggleMenu ul.login {
	width: inherit;
	text-align: center;
	margin-top: 20px;
}

#ToggleMenu ul.login li {
	text-align: right;
	float: right;
	padding-bottom: 0;
	font-weight: normal;
	font-style: italic;
	line-height: 8px;
	text-transform: uppercase;
	color: #537188;
}

#ToggleMenu ul.login li a {
	color: #333;
	/* [disabled]text-shadow: 0px 1px 1px #fff; */
	text-decoration: none;
	font-family: "Arial Black", Gadget, sans-serif;
	font-style: normal;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 16px;
	/* [disabled]padding-top: 5px; */
	/* [disabled]padding-right: 0px; */
	/* [disabled]padding-bottom: 0px; */
	/* [disabled]padding-left: 0px; */
}

#ToggleMenu ul.login li a:hover {
	color: #FFF;
}

#ToggleMenu .sep {
	color:#333;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 24px;
	/* [disabled]line-height: 10px; */
	margin-top: 2px;
	/* [disabled]padding-top: 5px; */
}

p {
	margin: 0px;
	padding: 0px;
	line-height: 10px;
	font-size: 10px;
	color: #999;
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	margin: 0px;
	font-weight: 900;
	color: #CCC;
	text-shadow: 1px 1px 1px #fff;
	text-transform: uppercase;
	line-height: 18px;
}

h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	margin: 0px;
	font-weight: 900;
	color: #333;
	text-transform: uppercase;
	line-height: 18px;
	text-shadow: none;
}

h3 {
	text-transform: uppercase;
	font-weight: 900;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	color: #999;
	font-family: "Arial Black", Gadget, sans-serif;
}

h5 {
	font-size: 10px;
	font-style: italic;
	display: inline;
}
#Testpanel {
	height: 250px;
	width: 960px;
	display: inline-block;
	background-image: url(../gfx/slidepanelbg2.png);
}
a:hover h3{
	color: #333;
}

.HeadInfo {
	color: #7faed3;
	font-weight: normal;
	padding-right: 10px;
	padding-left: 2px;
}

/**MainLink **/
.Link {
	display: block;
	list-style-type: none;
	text-decoration: none;
	float: left;
	width: 320px;
	line-height: 11px;
	padding: 0px;
	margin: 0px;
}
.Link a {
	display: block;
	list-style-type: none;
	text-decoration: none;
	float: left;
	width: 320px;
	margin: 0px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

.Link a:hover {
	display: block;
	background-repeat: no-repeat;
	background-position: right center;
	/* [disabled]background-color: #FFF; */
}

.LeftSpace  {
	width: 65px;
	float: left;
	text-align: right;
	font-size: 10px;
	margin-right: 10px;
	padding-left: 0px;
}
.RightSpace  {
	float: left;
	width: 215px;
}

#PanelHead {
	height: 40px;
	padding-top: 20px;
	padding-left: 75px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	background-image: url(../gfx/icobookin.png);
	background-repeat: no-repeat;
	background-position: 10px;
}
#PanelHead p{
	font-size: 1em;
	margin: 0px;
	color: #999;
	line-height: 12px;
	text-transform: uppercase;
}

#PanelContent {
	height: 145px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

#PanelContent a:hover p  {
	color: #000;
}


#PanelInfo {
	height: 20px;
	text-align: center;
	color: #999;
	padding-top: 10px;
	width: 320px;
	text-transform: uppercase;
	font-style: italic;
	margin: 0px;
}


#PanelFoot {
	height: 30px;
	text-align: center;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 10px;
}
#PanelFoot a{
	background-image: url(../gfx/button.png);
	background-repeat: repeat;
	height: 29px;
	width: 117px;
	margin-right: 5px;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #333;
	text-decoration: none;
	display: inline-block;
	clear: none;
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	text-shadow: 1px 1px 1px #fff;
	white-space: normal;
}
#PanelFoot a:hover{
	background-image: url(../gfx/button.png);
	background-repeat: repeat;
	background-position: -117px 0px;
}

#PanelFoot a:active{
	background-image: url(../gfx/button.png);
	background-repeat: repeat;
	background-position: -234px 0px;
	line-height: 31px;
}

#Availability {
	float: left;
	height: 600px;
	width: 320px;
}

#Availability #PanelContent {
	height: 400px;
	padding: 0px;
}


#Availability .LeftSpace {
	float: left;
	text-align: right;
	margin-right: 10px;
	width: 65px;
}

#Availability .LeftSpace p{
	margin: 0px;
	line-height: 22px;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
	color: #7faed3;
	text-shadow: none;
	font-weight: 600;
	padding-top: 5px;
}

#Availability .RightSpace  {
	float: left;
	width: 215px;
	padding-top: 8px;
	height: 22px;
}

#Availability .Link{
	margin-top: 0px;
	margin-bottom: 5px;
	height: 34px;
}
#AvailTotal {
	list-style-type: none;
	text-decoration: none;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #999;
	border-bottom-color: #999;
	padding-top: 5px;
	height: 28px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#AvailTotal .RightSpace  {
	padding-top: 14px;
}

#Reservations {
	float: left;
	height: 300px;
	width: 320px;
}


#Requests {
	float: left;
	height: 300px;
	width: 320px;
}

#Warnings {
	float: left;
	height: 300px;
	width: 320px;/* [disabled]background-color: #9F0; */
}

#Summary {
	float: left;
	height: 300px;
	width: 320px;
	/* [disabled]background-color: #6FF; */
}

#Summary #PanelContent {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
	height: 175px;
}

#Summary .RightSpace p{
	text-shadow: none;
	line-height: 16px;
	font-size: 11px;
	font-weight: normal;
	color: #999;
	font-family: "Arial Black", Gadget, sans-serif;
}
#Summary .LeftSpace p {
	text-shadow: none;
	line-height: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #7faed3;
	font-size: 12px;
	font-family: "Arial Black", Gadget, sans-serif;
}
.Summary {
	display: block;
	list-style-type: none;
	text-decoration: none;
	float: left;
	width: 320px;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	line-height: 11px;
}
.Summary .LeftSpace{
	width: 60px;
	float: left;
	text-align: right;
	font-size: 10px;
	margin-right: 10px;
	padding-left: 0px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #7faed3;
	text-transform: uppercase;
	font-weight: bolder;
}
.Summary .RightSpace{
	float: left;
	width: 220px;
		text-shadow: none;
	line-height: 16px;
	font-size: 11px;
	font-weight: normal;
	color: #666;
	font-family: "Arial Black", Gadget, sans-serif;
}
.ShowMore {
	color: #333;
	font-style: normal;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}


.ShowMore a{
	color: #666;
	text-decoration: none;
	font-family: "Arial Black", Gadget, sans-serif;
}

.ShowMore a:hover{
	color: #7faed3;
}
.InfoCol {
	color: #7faed3;
}
.StatusCol {
	color: #7faed3;
}
.DiscComCol {
	color: #7faed3;
	font-weight: normal;
	padding-right: 10px;
	padding-left: 2px;
}
.DiscComCol a:hover {
	color: #333;
	text-shadow: none;
}
#Available {
	font-family: Arial, Helvetica, sans-serif;
	width: 65px;
	margin-right: 10px;
	font-size: 28px;
	font-weight: 600;
	text-align: right;
	padding: 0px;
	height: 33px;
}


        .activeField
        {
	color: #7faed3;
	background-color: #FFF;
	border: 1px solid #7faed3;
        }
        .idle
        {
	color: #999;
	background-color: #fcfcfc;
	border: 1px solid #fcfcfc;
	cursor: pointer;
        }
