<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="../css/default.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../js/jquery.1.4.3.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../js/jquery.fancybox-1.3.4.pack.js"></script>


</head>

<body id="BgBlue">
<div id="TempHead"><h1>Administration</h1></div>
<div id="List"><a href="templates/menu.html">Property manager</a></div>
<div id="List"><a href="templates/menu.html">rate manager</a></div>
<div id="List"><a href="templates/menu.html">user manager</a></div>



</body>
</html>
