<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Test</title>
<link href="../css/default.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="AvailOneWrap" style="display:none">
<p class="RoomCatName">Roomcategory</p>

<ul class="ValDesc">
<li class="ValName">&nbsp;</li>
<li>Available rooms</li>
<li>Discount:</li>
<li>Commission:</li>
</ul>

<ul class="CurVal">
<li class="ValName">Current Value:</li>
<li>0</li>
<li>000</li>
<li>00%</li>
</ul>

<ul class="NewVal">
<li class="ValName">New Value:</li>
<li><input name="Rooms" type="text" class="FormAvailRoom" value="0" size="5" maxlength="5" /></li>
<li><input name="Discount" type="text" class="FormAvailRoom" value="0" size="5" maxlength="8" /></li>
<li><input name="Commission" type="text" class="FormAvailRoom" value="0" size="5" maxlength="2" /></li>
</ul>

<ul class="ButtonUl">
<li class="ValName">&nbsp;</li>
<li>&nbsp;</li>
<li><a href=""><span class="Button">Save</span></a></li>
<li><a href=""><span class="Button">close</span></a></li>
</ul>

</div>
</body>
</html>
